<h1>Listing devices</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <%# TODO:fix name admin -> make it user attribute %>
      <% if (current_user.name == "admin") %>
      <tr>
        <td>
          <% if device.user_id != nil %>
            <%= User.find(device.user_id).name %>  
          <% end %>
          </td>        
        <td><%= device.name %></td>
        <td>       
          <%= form_tag(testsend_path, class:'form-inline') do %>
            <%= text_field_tag(:urlImage, "Url image", class:'form-control') %>
            <%# TODO:fix this "hidden" %>
            <%= text_field_tag(:deviceID, device.regID, class:'form-control') %>
            <%= submit_tag("Nig it!",class:'btn btn-default') %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_device_path(device) do %>
            Edit <span class="glyphicon glyphicon-edit"></span>  
          <% end %>
        </td>
        <td>  
          <%= link_to device, method: :delete, data: { confirm: 'Are you sure?' } do %>
            Delete <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% if (current_user.name != "admin" && device.user == current_user) %>
      <tr>        
        <td><%= device.name %></td>
        <td>       
          <%= form_tag(testsend_path, class:'form-inline') do %>
            <%= text_field_tag(:urlImage, "Url image", class:'form-control') %>
            <%# TODO:fix this "hidden" %>
            <%= hidden_field_tag(:deviceID, device.regID) %>
            <%= submit_tag("Nig it!",class:'btn btn-default') %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_device_path(device) do %>
            Edit <span class="glyphicon glyphicon-edit"></span>  
          <% end %>
        </td>
        <td>  
          <%= link_to device, method: :delete, data: { confirm: 'Are you sure?' } do %>
            Delete <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Device', new_device_path %>
<% end %>